body
{
  margin:0px;
}

header
{
  height: 76px;
  width: auto;
  background-color: rgb(24, 23, 23);
}

header img
{
  margin-left: 40%;
  height: 76px;
  margin-top: 20px;

}

article
{
  padding-top: 150px;
  background-color:rgb(24, 23, 23) ;
  background-image: url("index_picture/background5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 784px;
  width: auto;
}

footer
{
  background-color: rgb(24, 23, 23);
  height: 76px;
  width: auto;
}

.main
{
  margin-left: 138px;
  margin-right: 138px;
  min-width: 708px;
  height: 630px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
}
